    <template>
        <div>
            <div v-if="isAddTas === false">
                <button class="btn btn-primary" type="button" @click="addNewTas"><fa-icon icon="pencil-alt"></fa-icon> Add New Tas</button>
                <input type="text" v-model="filterByName" @change="fetch()" />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Tas</th>
                            <th>Jumlah Tas</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(tas,index) in tas1" :key="index">
                            <td>{{tas.tasId}}</td>
                            <td>{{tas.tasName}}</td>
                            <td>{{tas.jumlahTas}}</td>
                            <td>
                                <a :href="'/tas/UpdateTas?TasId='+tas.tasId" class="btn btn-warning"><fa-icon icon="pencil-alt"></fa-icon></a>
                                <button class="btn btn-danger" @click="deleteTas(tas.tasId)">
                                    <fa-icon icon="trash-alt"></fa-icon>
                                                                
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="pagination" v-for="page in totalPage">
                            <li class="page-item">
                                <button @click="changePage(page)">{{page}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div v-if="isAddTas === true">
                <validation-observer ref="observer" v-slot="{validate,valid}">
                    <form method="post" @submit.prevent="insertTas">
                        <label class="col-form-label">Nama Tas</label>
                        <validation-provider name="Name" rules="required" v-slot="{errors}">
                            <input class="form-control" type="text" v-model="newTas.tasName" />
                            <span class="text-danger font-italic">{{errors[0]}}</span>
                        </validation-provider>
                        <br />

                        <label class="col-form-label">Jumlah Tas</label>
                        <validation-provider name="Email" rules="required" v-slot="{errors}">
                            <input class="form-control" type="text" v-model="newTas.jumlahTas" />
                            <span class="text-danger font-italic">{{errors[0]}}</span>
                        </validation-provider>
                        <br />
                        <button class="btn btn-primary" type="submit">
                            <fa-icon icon="check"></fa-icon>
                            Submit
                        </button>
                    </form>
                </validation-observer>
            </div>
        </div>
    </template>

    <script lang="ts">
        import Vue from 'vue';
        import Component from 'vue-class-component';
        import { TasService, TasModel } from '../Services/NSwagService';
        import { ValidationObserver } from 'vee-validate';
        import { TasSingleton } from '../Services/TasService';
        import { TasModelTemp } from '../Models/TasModelTemp';
        import swal from 'sweetalert2';

        @Component({
            created: async function (this: ListTas) {

                await this.fetch();
            }
        })

        export default class ListTas extends Vue {
            service: TasService = new TasService();
            serviceTest = TasSingleton;

            tass: TasModel[] = [];

            tas1: TasModelTemp[] = [];
            isAddTas = false;

            newTas: TasModel = {
                tasName: '',
                jumlahTas: 0,
            }

            filterByName = '';
            pageIndex = 1;
            itemPerPage = 3;
            totalData = 1;
            totalPage = 1;

            async fetch(): Promise<void> {
                this.totalData = await this.service.totalDataTas();
                this.totalPage = Math.ceil(this.totalData / this.itemPerPage);

                this.tas1 = await this.serviceTest.getFilterData(this.pageIndex, this.itemPerPage, this.filterByName);
                //await this.service.filterDataTas(this.pageIndex, this.itemPerPage, this.filterByName);
            }

            async changePage(page: number): Promise<void> {
                this.pageIndex = page;
                await this.fetch();
            }

            async getTas(): Promise<void> {
                this.tas1 = await this.serviceTest.getAllTas();
            }

            async insertTas(): Promise<void> {
                const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
                if (valid == false) {
                    return;
                }
                await this.serviceTest.insertTas(this.newTas);
                await this.getTas();

                swal.fire({
                    title: 'Yeayy!',
                    icon: 'success',
                    text: 'Success insert new data Tas.'
                });

                this.isAddTas = false;
            }

            addNewTas(): void {
                this.isAddTas = true;
                return;
            }


            async deleteTas(TasId): Promise<void> {

                swal.fire({
                    title: 'Are you sure?',
                    text: "Delete this Tas",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Delete it!'
                }).then(async (result) => {
                    if (result.value) {
                        await this.serviceTest.deleteTas(TasId);
                        swal.fire(
                            'Deleted!',
                            'Your file has been Deleted.',
                            'success'
                        )
                    }
                })
                await this.getTas();

          
            }
        }
    </script>

