<template>
    <div>
        <validation-observer ref="observer" v-slot="{validate,valid}">
            <form method="post" @submit.prevent="updateTas">
                <label class="col-form-label">Nama Tas</label>
                <validation-provider name="Name" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newTas.tasName" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Jumlah Tas</label>
                <validation-provider name="Email" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newTas.jumlahTas" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <button class="btn btn-primary" type="submit">
                    <fa-icon icon="check"></fa-icon>
                    Submit
                </button>
            </form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { TasService, TasModel } from '../Services/NSwagService';
    import {TasSingleton } from '../Services/TasService'
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: UpdateTas) {
            await this.getSpecificTas();
        }
    })

    export default class UpdateTas extends Vue {
        service: TasService = new TasService();
        serviceTest = TasSingleton;
        newTas: TasModel = {
            tasId:0,
            tasName: '',
            jumlahTas: 0,
        }


        async updateTas(): Promise<void> {
            swal.fire({
                title: 'Are you sure?',
                text: "Update this Tas data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.serviceTest.updateTas(this.newTas);
                    swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    )
                }
            })
        }

        async getSpecificTas(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const tasId = urlParams.get('TasId')?.valueOf();
            this.newTas = await this.service.getSpesificTas(tasId);
        }
    }
</script>
